{% extends 'Nastya_base.html' %}
{% load static %}


{% block content %}

<div class="row">
    <!--Горизонтальное поле-->
    <div class="left_col_reg col-md-5 bg_fiol_co pad_l" >
        <div class="contact_info__wrap">
        <div class="bx-breadcrumb">
            cosmocafe
        </div>
        <h1 class="contact_info__title">АДРЕС</h1>
        <div class="contact_info_adr">
            метро "Лубянка"<br>ул.Мясницкая, 11<br>8(495) 178-54-26
        </div>
        <div class="time">
            Пн - Пт: 10<sup>00</sup> - 22<sup>00</sup>
            <br>Сб - Вс: 10<sup>00</sup> - 00<sup>00</sup>
        </div>
        <div class="contact_info_adr">
            cosmocafe@mail.ru
        </div>
        </div>
    </div>
    <div class="left_col_reg col-md-7 bg_map" style="padding-left:0;" >
    </div>
</div>
{% endblock %}

{% block nav %}
<div class="pic_padding2">
<div class="footer_w block bg_w_c">
    <div class="content_c bg_w_c">
        <a href="{% url 'index' %}"><img class="logo_size logo_padding_l" src="{% static 'image/logo.png' %}"></a>
        <div class="header_main_item_w logo_padding">
            <a class="w_color" href="{% url 'aboutus' %}">О НАС</a> |
            <a class="w_color" href="{% url 'photogalery' %}">ГАЛЕРЕЯ</a> |
            <a class="w_color" href="{% url 'menufull' %}">МЕНЮ</a> |
            <a class="w_color" href="{% url 'contacts' %}">КОНТАКТЫ</a> |
            <a class="w_color" href="{% url 'writeus' %}">ОСТАВИТЬ СООБЩЕНИЕ</a>
        </div>
        <a href="{% url 'index' %}"><img class="logo_size margin_padding" src="{% static 'image/logo.png' %}"></a>
    </div>
</div>
</div>
{% endblock %}